Upgraded/Service References/WS/SafefpWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servizos.dxfprcpsw/" targetNamespace="http://servizos.dxfprcpsw/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="procesarQuery" type="tns:procesarQuery" />
  <xs:element name="procesarQueryResponse" type="tns:procesarQueryResponse" />
  <xs:complexType name="procesarQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="procesarQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>